* {
  margin: 0px;
  padding: 0px;
}
@import url("https://fonts.googleapis.com/css2?family=Roboto Slab");
@import url("https://fonts.googleapis.com/css2?family=Outfit");
@import url("https://fonts.googleapis.com/css2?family=Geologica");

.headd {
  background-color:rgb(5, 4, 4)
}

.skk  {
  color: whitesmoke !important;
  position: relative;
  font-family: cursive;
  text-decoration:none !important;
  
}
.skk a{
  text-decoration: none !important;
  color: whitesmoke;
}
.skk a:hover{
  color: rgb(7, 106, 143)!important;
}
.skk::before{
  content: "";
  position: absolute;
  display:block;
  width: 60px;
  height: 2px;
  bottom: 0px;
  left: 2;
  background-color:white;
  transform: scaleX(0);
  transition: transform 0.3s ease;

}
.skk:hover::before{
  transform: scaleX(1);
  color: rgb(7, 106, 143)!important;
}

.top{
  min-height: 100vh;
  background-color:rgb(5, 4, 4);
}
.pic{
  width: 120px;
}
.cn{

  color:whitesmoke;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.id{
  
  background: linear-gradient(to right bottom, rgb(83, 161, 229),#0aaddaa2,rgb(4, 75, 162));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: rgb(102, 137, 234);
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.togg{
  color: white !important;
}
.togg:hover{
  color: rgba(7, 118, 162, 0.863) !important;
}
.dev{
  background-color: black;
  min-height: 100vh;
}
.hc{
  color:whitesmoke;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 
}
.idd{
 
  background: linear-gradient(to right bottom, rgb(116, 162, 203),#6fc4dba2,rgb(2, 53, 114));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: rgb(102, 137, 234);
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.imm{
  width: 500px;
}
.btt {
  border-radius: 4px;
  background-color:black !important;
  border: none;
  color: #fff;
  text-align: center;
  font-size: 32px;
  padding: 16px !important;
  width: 120px !important;
  transition: all 0.5s;
  cursor: pointer;

}
.btt a{
  text-decoration: none !important;
  color: white !important;
}
.btt{
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.btt:after {
  content: '»';
  position: absolute;
  opacity: 0;  
  top: 8px !important;
  right: 0px !important;
  transition: 0.5s;
}

.btt:hover{
  padding-right: 18px !important;
  padding-left:6px !important;
  
  box-shadow: 0 10px 20px -8px rgba(27, 180, 210, 0.7) !important;
}

.btt:hover:after {
  opacity: 1;
  right: 10px;
}
.logo{
  width: 60px !important;
  height: 60px !important;
}

.icon{
  color: aliceblue !important;
  font-size: 27px;
}
.icon:hover{
  color: rgb(12, 80, 91) !important;
}

.ii{
  display: inline-block;
 
  
  
  text-align: center;
  transition: 1s ease-in-out;
}
.ii:hover{
  rotate: x 360deg;
}

.sktop{
  background-color: black;
  
  min-height: 100vh;
}
.navv{
  color: #212529 !important;
  border-radius: 100px;
  box-shadow: 2px 2px 2px 2px #1b2e41;
}
.skhead{
  text-align: center !important;
  color: white;
  
  font-family:'Roboto Slab';
  background: linear-gradient(to right bottom, rgb(116, 162, 203),#6fc4dba2,rgb(2, 53, 114));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.icontainer{
  max-width: 900px !important;
 
}
.sl{
  display: inline-block;
  text-align: center;
  transition: 1s ;
  
}
.sl:hover{
  rotate: 1 2 1 360deg;
}
.certi{
  background: linear-gradient(to right bottom, rgb(19, 82, 127),#296aafa2,rgb(81, 180, 233));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  text-align: center;
  
}
.certiplace{
  color: whitesmoke !important;
  font-size: 19px;
  text-align: center;
}
.certilocation{
  color: cadetblue;
  font-size: 15px;
}
.zoom a{
  text-decoration: none !important;
  color: white !important;
}
.view{
  height: 300px;
}
.zoom {
  transition: transform .2s;
  background-color: black !important;
  color: rgba(136, 221, 234, 0.788);
  text-decoration: none !important;
  border-color:rgb(9, 63, 85) !important;
  
}

.zoom:hover {
  -ms-transform: scale(1.2); /* IE 9 */
  -webkit-transform: scale(1.2); /* Safari 3-8 */
  transform: scale(1.2); 
}
.line{max-width: 600px !important;
  height: 1px !important;
  
  background-color: white !important;
}
.abt{
  background-color: black;

  min-height: 100vh !important;
text-align: center;
}
.profile{
  height: 200px ;
  border-radius:50%;
}
.profile{
  transition: 1s ease;
  }
  
  .profile:hover{
  -webkit-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8);
  transition: 1s ease;
  }
.objective{
  color: rgba(255, 255, 255, 0.847) !important;
  text-align: center !important;
  font-family: 'Outfit' !important;
  max-width: 800px !important;
 
}
.divider{
  height: 2px;
  background-color: rgb(87, 225, 232);
  max-width: 400px !important;
 
}
.contacttop{
  background-color: black !important;
  
  min-height: 100vh;
  max-width: 700px !important;
}
.contacttopp{
  background-color: black;
}
.chead{
  letter-spacing: 5px;
 
  color:#086a8d;
  text-align: center;
  font-family:Geologica;
  
  
}

.contactcontent{
  color: azure;
  letter-spacing: 3px;
  
  
  text-align: center !important;
}
.call{
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #479cd5;
  outline: none;
  background: transparent;
}

.callm{
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #5eb8ed;
  outline: none;
  background: transparent;
}
.sm{
  background-color: black !important;
}

.sm:hover {
  color: #fff;
  text-shadow: 0 0 5px #03e9f4,
              0 0 25px #03e9f4,
              0 0 50px #03e9f4,
              0 0 100px #03e9f4;
}

.footer-logo{
  color: white !important;
  font-size: 20px !important;
}
.projecthead{
color: rgb(14, 159, 192) !important;
 
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: grid !important;
  place-items: center !important;
  position: relative;

}

.projecthead:hover{
  color: rgb(30, 190, 208)!important;
}
.projecthead::before{
  content: "";
  position: absolute;
  display:block;
  width: 140px;
  height: 1px;
bottom: 0px;
  left: 2;
  background-color:white;
  transform: scaleX(0);
  transition: transform 0.3s ease;

}
.projecthead:hover::before{
  transform: scaleX(1);
  color: rgb(7, 106, 143)!important;
}
.project1{
  color: white !important;
  font-size: 22px;
  font-family: 'outfit';
}


.heading{
  color: rgb(44, 138, 237);
  
}

.pagetop{
  min-height: 100vh !important;
}

